/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}

nav ul {
	border-top: 1px solid;
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END RESET */


body {
	background-color: #BF3F5F;
	margin-top: 20px;;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 140%;
	background-image: url(/images/wood.jpg);
}

p {
	margin-bottom: 1em;
}

header p {
	margin-bottom: 0;
}

h1 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 65px;
	line-height: 1em;
}

header {
	margin-bottom: 20px;
	border-bottom: 5px solid;
	padding-bottom: 10px;
}

aside {
	margin: 20px;
	color: #fff;
	font-size: 60px;
	float: left;
}

h1 a, article h1 a, aside a{
	text-decoration: none;
	color: inherit;
}

#content {
	display: block;
	background: #f6f6f6;
	width: 75%;
	min-width: 550px;
	max-width: 900px;
	padding: 20px;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 10px #2b2b2b;
-moz-box-shadow: 0px 0px 10px #2b2b2b;
box-shadow: 0px 0px 10px #2b2b2b;
}

nav#pressreleases,  {
	overflow: hidden;
}

article img {
	max-width: 100%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

article a {
	color: #a4a45e;
}

article ul {
	margin-left: 20px;
	margin-bottom: 20px;
}
article ul li {
	margin-bottom: .4em;
}

nav li a{
	display: block;
	border-bottom: 1px solid;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	padding-left: 5px;
}

nav li a:hover {
	background: #a4a45e;
}

nav a {
	text-decoration: none;
	
}

#infscr-loading {
	margin-top: 20px;
}